<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <security-constraint>
    <!--1.被保护的资源 -->
    <web-resource-collection>
      <web-resource-name>testLogin</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
    </web-resource-collection>
    <!--2.有权限的角色 -->
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <!-- 3.登录方式 -->
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/admin_login.jsp</form-login-page>
      <form-error-page>/admin_login_error.jsp</form-error-page>
    </form-login-config>
  </login-config>
</web-app>