@charset "UTF-8";
body {
	background: #efefef;
}
.page-block {
	width: 1100px;
	background: #efefef;
	margin: auto auto;
}
.page-block h1 {
	text-align: center;
}
.article-hover{
	height: 150px;
	background: #ffffff;
}
.article-hover:hover{
	background: #f8f8f8;
}
.thumbnail {
	width: 250px;
	height: 150px;
	display: flex;
	align-items: center;
	float: left;
}
.thumbnail :hover{
	background-color: #c0c0c0;
}
.thumbnail img {
	width: 200px;
	height: 130px;
	margin: 0 auto;
}
.info-content {
	width: 850px;
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
.info-content a {
	color: #000000;
	text-decoration: none;
	display: inline-block;
	border: 1px solid #cdcdcd;
	padding:4px 10px 5px;
	border-radius: 10px;
}
.info-content a:hover {
	background: linear-gradient(to right,#FFCC00,#FF9900);
	color: #fff;
} 
.li-title{
	width: 850px;
	font-size: 24px;
	font-weight: 700;
	text-align: left;
}
.li-content{
	width: 830px;
	font-size: 16px;
	font-weight: 400;
	text-align: left;
}
.page-icon{
	width: 1200px;
	margin: 35px auto 0;
	font-size:0;
	text-align:center;
}
.page-icon button {
	border: none;
	background-color: #efefef;
	padding:4px 10px 5px;
	font-size:20px;
}
.page-icon button:nth-child(3), .page-icon button:nth-child(4) {
	cursor: default;
}
.page-icon button img {
	width: 20px;
	height: 20px;
}
#totalPage, #currentPage {
	cursor: default;
	border: none;
	background-color: #efefef;
	padding:4px 10px 5px;
	font-size:20PX;
}
#currentPage {
	cursor: auto;
	text-align: center;
	width: 40px;
}
.page-1{
	display: block;
}
.page-2, .page-3, .page-4, .page-5, .page-6, .page-7, .page-8{
	display: none;
}
.page-4,.page-5{
	display: none;
}
hr {
	opacity: 50%;
}



 @font-face {
			        font-family: 'FontAwesome';
			        src: url('./fontawesome-webfont.eot');
			        src: url('./fontawesome-webfont.eot') format('embedded-opentype'),
			            url('./fontawesome-webfont.woff2') format('woff2'), url('.fontawesome-webfont.woff') format('woff'),
			            url('./fontawesome-webfont.ttf') format('truetype'),
			            url('./fontawesome-webfont.svg') format('svg');
			        font-weight: normal;
			        font-style: normal;
			    }
			
			    .search-box {
			        font-family: FontAwesome;
			        position: absolute;
			        top: 30%;
			        left: 50%;
			        transform: translate(-50%, -50%);
			        background: #ffffff;
			        height: 40px;
			        border: 10px;
			        border-radius: 40px;
			        padding: 10px;
			        opacity: 0;
			        transition-delay: 99999999s;
			        transition-duration: 1s;
			    }
			
			    .search-box:hover>.search-txt {
			        width: 240px;
			        padding: 0 6px;
			    }
			
			    .search-box:hover>.search-btn {
			        color: white;
			        background: black;
			    }
			
			    .search-btn {
			        transition: 0.5s;
			        font-family: FontAwesome;
			        font-size: 25px;
			        color: black;
			        float: right;
			        width: 40px;
			        height: 40px;	
			        border: 10px;
			        border-radius: 50%;
			        background: #ffffff;
			        display: flex;
			        justify-content: center;
			        align-items: center;
			        text-decoration: none;
			    }
			
			    .search-txt {
			        border: none;
			        background: none;
			        outline: none;
			        float: left;
			        padding: 0;
			        color: rgb(51, 159, 150);
			        font-size: 16px;
			        transition: 0.6s;
			        line-height: 50px;
			        width: 0px;
			    }
			   
			    @keyframes flash {
			        50% {
			            transform: scale(1.5);
			        }
			
			        80% {
			            transform: rotate(-60deg);
			        }
			
			        100% {
			            transform: rotate(30deg);
			        }
			        
			        
			    }
			    html:hover .search-box {
			        opacity: 1;
			        transition-delay: 0s;
			        transition-duration: 0s;
			    }
				




